<!-- <h1>hello {{title}}</h1>
<h2>get {{getvalue()}}</h2>
<h3>{{2+2}} =4</h3>
<h4>{{title === "Dhirendra_pro"}}</h4>

<div class="container">
  <div class="box">
    <img src="{{imgUrl}}" alt="">
    <div class="contents">
      <h2>My first project</h2>
      <br>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, magnam minima obcaecati perspiciatis
        delectus neque facilis provident quas. Molestias earum minus repudiandae veniam praesentium laboriosam vero id
        tempore dignissimos vel.</p>
    </div>
  </div>
</div> -->
<!-- <head-root></head-root>
<app-databinding></app-databinding> 
<app-eventbinding></app-eventbinding>
<app-form></app-form>
<app-twdatabinding></app-twdatabinding>
<app-directives1></app-directives1>-->
<!-- <app-projectdirectives></app-projectdirectives>  -->
<!-- <app-parent></app-parent>
<app-additem></app-additem>
<app-container></app-container> -->
<!-- <app-user></app-user>
<app-root></app-root> -->
<head-root></head-root>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!-- pipes in angular -->

<!-- built-in pipes
Uppercase
lowercase
number/percentage
date
 
chaining pipes
custom pipes  -->
<!-- 
<div>
  
<p>{{name | uppercase}}</p>
<p>{{namelow | lowercase}}</p>
<p>{{mynum | number : '2.3-3'}}</p>
<p>{{mynum | percent : '2.3-3'}}</p> -->
<!-- <p>{{mynum | mypipe}}</p> -->

<!-- <p>{{today | date : 'dd/MM/YY'}}</p>
<p>{{amount | currency : 'INR'}}</p> -->

<!-- chaining pipes -->
<!-- <p>{{ today | date |uppercase}}</p>

</div>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
      
    </tr>
    <tr *ngFor="let item of namerr">
       <td>{{item.id}}</td>
       <td>{{item.name | mypipe : item.gender}}</td>
       <td>{{item.gender}}</td>
      
    </tr>
  </table>
</div> -->